a {
    text-decoration: none;
}

header.container {
    padding-top: 4rem;
}

table.exercise-list {
    width: 100%;
    table-layout: fixed;
}

table.exercise-list td:first-child {
    width: 3.5rem;
}

table.exercise-list td {
    font-size: xx-large;
    font-weight: bolder;
    text-align: left;
}

.error-message {
    color: white;
    padding: 1rem;
    border: 1px solid red;
    border-radius: 0.25rem;
    background-color: rgba(255, 0, 0, 0.1);
}

#submit {
    text-align: left;
}